/* #########################################  GENERAL SETTINGS */

html{
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}

body{
	margin: 0px;
	padding: 0px;
	width: 100%;
}

*{
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
	overflow-x: hidden;
}

a{
	text-decoration: none;
}

/* #################################################### HEADER */

#header{
	width: 100%;
	height: 95px;
	position: fixed;
	top: 0;
	background-color: white;
	box-shadow: 0px -30px 75px 10px #000;
	overflow: hidden;
}

#header.small{
	height: 50px;
	display: flex;
	align-items: center;
}

#header #helper{
	height: 95px;
	width: 315px;
	position: relative;
	margin: 0 auto;
}

#header > p{
	font-size: larger;
	text-align: center;
	font-weight: bold;
	width: 100%;
}

#header .item{
	height: 50px;
	margin: 8px;
	width: calc(25% - 16px);

	float: left;
	background-color: white;
	text-align: center;

	display: flex;
    align-items: center;
    justify-content: center;

    color: #333;
}

#footer #back_to_menu *{
	-webkit-transition: margin 0.5s ease 0s; /* Safari */
    transition: margin 0.5s ease 0s;
}

#footer #back_to_menu:hover *{
	margin-left: -5px;
	margin-right: 13px;
}

#footer #flowersettings{
	overflow: hidden;
}

#footer #flowersettings *{
	-webkit-transition: transform 0.5s ease 0s;
	transform: transform 0.5s ease 0s;
}

#footer #flowersettings:hover *{
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

#header .item a, #nav .item a{
	text-align: center;
	position: absolute;
	text-decoration: none;
}

#header .item2{
	width: calc(50% - 18px);
	background-color: transparent;
	border: none;
	color: black;
	font-size: larger;
}

#nav{
	position: fixed;
	height: 55px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

#nav .fa{
	display: inline;
}

#nav .item{
	height: 50px;
	margin: 0px;
	width: 25%;

	float: left;

	background-color: #CCC;
	color: #222;

	text-align: center;
	display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;

    border: none;
    
    box-shadow: 0px -30px 20px -25px #333 inset; 

    -webkit-transition: border-top 0.1s ease 0.5s,
    					background-color 0.5s ease 0s; /* Safari */
    transition: border-top 0.1s ease 0.5s,
    			background-color 0.5s ease 0s;
}

#nav .item.current_tab{
	border-top: 3px indigo solid;
	box-shadow: 0px 10px 20px;

	background-color: #EEE;
	color: #333;
}

#header #logo{
	background-image: url("../img/Logo2.png");
	background-size: 75px;
	background-position: left center;
	background-repeat: no-repeat; 
	height: 75px;
	width: 75px;
	float: left;
	margin: 10px;
}

#header #font{
	background-image: url("../img/LogoSchrift.png");
	background-size: 200px;
	background-position: center;
	background-repeat: no-repeat; 
	height: 75px;
	width: 200px;
	float: left;
	margin: 10px;
}

/* ################################################# MAIN PART */

#wrap{
	max-width: 800px;
	margin: 0 auto;
}

#list, #form{
	margin-top: 95px;
	background-color: #EEE;
	clear: both;
	overflow: auto;
	height: calc(100vh - 195px);
	padding: 25px;
}

#sensor_list{
	background-color: #EEE;
	padding: 10px;
}

#list.small, #form.small{
	margin-top: 50px;
	height: calc(100vh - 150px);
}

#list.status{
	margin-top: 50px;
	height: 100%;
	height: calc(100vh - 150px);
	position: absolute;
	width: 90vw;
	width: calc(100vw - 50px);
}

#list #img{
	background-image: url("../img/aloevera.jpg");
	height: 150px;
	width: 150px;
	background-size: 150px;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0px auto;
	margin-bottom: 50px;
}

#list > a{
	display: block;
	margin: 10px 25%;
	color: black;
	text-decoration: none;
	text-align: center;

	box-shadow: 0px 0px 30px -15px #000;

	-webkit-transition: box-shadow 0.5s ease 0s, margin 0.5s ease 0s; /* Safari */
    transition: box-shadow 0.5s ease 0s, margin 0.5s ease 0s;
}

#list > a:hover{
	box-shadow: 0px 0px 30px 0px #FFF;

}

#list > a > .flower{
	padding: 20px 10px;
	background-color: white;
	border: 1px #777 solid;
	border-left: 15px green solid;
}

#list > a > #empty_flower_list{
	padding: 20px 10px;
	background-color: white;
	border: 1px #AAA solid;
	border-left: 15px #AAA solid;
	color: #AAA;
}

#empty_flower_list .fa{
	float: left;
}

#list small{
	color: grey;
}

#footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	overflow: hidden;
}

#footer .button{
	float: left;
	background-color: white;
	width: 25%;
	text-align: center;

	-webkit-transition: background-color 0.5s ease 0s; /* Safari */
    transition: background-color 0.5s ease 0s;

    cursor: pointer;
}

#footer .button.w2{
	width: 50%;
}

#footer .button.w2.vacation *{
	width: calc(100% - 10px);
	margin: 5px;
	height: 40px;
}

#footer .button.w3{
	width: 33.33333333333333333333%;
	width: calc(1 / 3 * 100%);
}

#footer .button.w4{
	width: 25%;
}

#footer .button *{
	padding: 0px;
	color: #AAA;
	width: 100%;

	-webkit-transition: color 0.5s ease 0s; /* Safari */
    transition: color 0.5s ease 0s;
}

#footer .button:hover{
	background-color: #333;
}

#footer .button:hover *{
	color: #EEE !important;
}

#footer .button.vacation:hover{
	background-color: #FFF;
}

#list.infos > p{
	padding-top: 5px;
	text-align: justify;
    text-justify: inter-word;
}

#list.infos strong{
	padding-top: 25px;
}

#list.infos small{
	padding-bottom: 25px;
}

#tab_info p{
	padding: 0px;
	margin: auto;
	margin-top: 25px;
}

#tab_info div{
	margin: 0px 25px;
}

#buttonSU{
	height: 12pt;
	width: 12pt;
	background-color: darkgreen;
	border: 1px green solid;
}

#buttonSU *{
	color: white;
	height: 12pt;
	width: 12pt;
	float: left;
}

#availSU, #newSU{
	width: 100%;
	height: auto;
	float: left;
	background-color: red;
}

#availSU.invisible,
#newSU.invisible{
	width: 0%;
	height: 0%;
	overflow: hidden;
}

.button#submit{
	float: right;
}

#list table, #form table{
	width: calc(100%);
	border: 1px #777 solid;
}

#sensordaten table{
	margin-top: 10px;
}

#list table th, td, #form table th{
	padding: 5px;
	text-align: center;
}

td{
	padding: 5px;
	text-align: left;
}

#list table tr:nth-child(odd){
    background-color: #DDD;
}

#cam_buttons{
	margin: 0 auto;
}

#form .row, 
#sensor_list .row,
#cam_buttons .row{
	overflow: auto;
	padding: 8px;
	display: flex;
	align-items: center;
}

#form .row:nth-child(even){
	background-color: #DDD;
}

#form .row .cell,
#sensor_list .row .cell,
#cam_buttons .row .cell{
	float: left;
	margin-bottom: 5px;
}

#form .row .cell:nth-child(even){
    width: 45%;
    float: right;
}

#sensor_list .row .cell:nth-child(even){
	width: 50%;
    float: right;
}

#cam_buttons .row .cell{
    width: 33%;
    float: right;
}

/*#form .row .cell3:nth-child(even){
    width: 30%;
    float: left;
}*/

.cell{
	width: 48%;
}

.cell3{
	width: 30%;
}

.cell1{
	width: 100%;
	text-align: center;
}

.cell .tooltip{
	color: #AAA;
	float: right;
	padding-top: 2px;
	padding-right: 20px;
}

#b3 p{
	text-align: center;
}

.cell p small{
	text-align: center;
}

input, select, textarea {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#form input, #sensor_list input, #cam_buttons input{
	margin: 4px;
}

#vacation input{
	width: 90%;
}

#form input[type="text"],
#form input[type="email"],
#form input[type="button"],
#form select,
#form input[type="submit"]{
	width: 90%;
	margin-left: 3px;
}
 
#sensor_list input, 
#cam_buttons input{
	width: 97%;
}

#sensor_list .row .cell{
	text-align: center;
}

#alert{
	background-color: #FFEEEE;
	border: 2px #AA5555 solid;
	color: #AA5555;
	padding: 8px;
	margin-top: 8px;
	margin-bottom: 8px;
	opacity: 1;

	-webkit-transition: opacity 0.5s ease 0s, margin-top 0.5s ease 0s, padding-top 0.5s ease 0s, height 0.5s ease 0s; /* Safari */
    transition: opacity 0.5s ease 0s, margin-top 0.5s ease 0s, padding-top 0.5s ease 0s, height 0.5s ease 0s;
}

#alert.alert-none{
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border: none;
	opacity: 0;
}

#alert.alert-ok{
	background-color: #EEFFEE;
	border: 2px #55AA55 solid;
	color: #55AA55;
}

#alert > div{
    float: left;
}

#alert .fa{
	margin: auto 10px;
}

#alert.correction .fa{
	padding: 5px;
	display: inline;
}

#form form tr td:nth-child(2),
#sensor_list form tr td:nth-child(2){
	width: 100px;
}

#form form input[type="radio"]{
	margin-top: 10px;
}

input[type="button"],
input[type="submit"],
button, 
#cam_buttons input{
	background-color: #8B0000;
	color: #FFDDDD;
	border: 1px #660000 solid;
	padding: 5px;
}

#cam_buttons input.disabled,
#cam_buttons input.disabled:hover{
	background-color: lightgrey;
	color: darkgrey;
	border: 1px #666 solid;
	padding: 5px;
}

input[type="button"]:hover,
input[type="submit"]:hover,
button:hover,
#cam_buttons input:hover{
	color: #FFFFFF;
	background-color: #CE0000;

	-webkit-transition: color 0s ease 0.5s, background-color 1s ease 0s; /* Safari */
    transition: color 0s ease 0.5s, background-color 1s ease 0s;
}

#tab_status.current_tab,
#tab_diagramme.current_tab,
#tab_cam.current_tab,
#tab_info.current_tab{
	position: relative;
	display: block;
	width: 100%;
	max-width: 800px;
	opacity: 1;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	margin: 0 auto;
}

#tab_status, #tab_diagramme, #tab_cam, #tab_info{
	/*width: 0%;*/
	height: 0%;
	opacity: 0;
	/*float: left;*/
	overflow: hidden;
	margin: 0 auto;
	max-width: 800px;

	-webkit-transition: height 1s ease 0.5s, opacity 1s ease 0s; /* Safari */
    transition: height 1s ease 0.5s, opacity 1s ease 0s;
}

/* ################################################### urlaub */

#urlaub{
	height: auto;
	width: 100%;
	position: relative;
	margin: 20px auto;
}

#urlaub *{
	margin: 5px;
	width: 100%;
}

#urlaub input[type="button"]{
	height: 100px;
	width: 100%;
	background-color: lightgreen;
	border: 2px green solid;
	color: green;
	font-size: large;
}

/* ################################################## GALLERY */

#gallery * {
    box-sizing: border-box;
}

div.gallery {
    border: 1px solid #ccc;
    box-shadow: 0px 10px 10px -15px black;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

#gallery .responsive {
    padding: 6px;
    float: left;
    width: 24.99999%;
}

#last_pic .responsive{
	padding: 0px;
	width: 200px !important;
	height: 200px;
	margin: 0 auto;
	overflow-y: hidden;
}

#last_pic .responsive img{
	width: auto;
	height: 200px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* ################################################### MODAL */

.modal {
    display: none;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
	justify-content:center;
}

.modal-content {
    width: 80%;
    max-width: 700px;
	-webkit-animation-name: zoom;
    -webkit-animation-duration: 0.3s;
    animation-name: zoom;
    animation-duration: 0.3s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


/* ############################################ status colors */

.red{
	border-left: 15px red solid !important;
}

.orange{
	border-left: 15px orange solid !important;
}

.yellow{
	border-left: 15px yellow solid !important;
}

.green{
	border-left: 15px green solid !important;
}

.black{
	border-left: 15px black solid !important;
}

/**/

.grey{
	color: 
}

#canvasm, #canvasp{
	width: 25%;
	float: left;
}

#tab_diagramme p{
	margin-top: 25px;
}

#dayfactor{
	width: 50%;
	float: left;
	text-align: center;
	margin-top: 0px;
}

.diagramm canvas{
	position: relative;
	margin: 0 auto;
}

/* ################################################## tooltip */

[tooltip]:before {
    content: attr(tooltip);
    position: fixed;
    bottom: 50px;
    opacity: 0;
    
    -webkit-transition: all 0.25s ease 5s;
    transition: all 0.25s ease 5s;    

    padding: 5px;
    color: #FFF;
    border-radius: 5px;
    box-shadow: 2px 2px 1px silver;  

    margin: 10px;
    font-size: small;

    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    max-width: 90%;
}

[tooltip]:hover:before{
    opacity: 1;

    background-color: #333;
    margin-bottom: : 50px;

    -webkit-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;    
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}

/* ########################################## smaller screnen */

@media screen and (max-width: 630px) {
    #list a{
		margin: 10px 0%;
	}

	#form .row div,
	#sensor_list .row div,
	#cam_buttons .row div{
	    width: auto !important;
	    float: none !important;
	    clear: both !important;
	}

	#form .row,
	#sensor_list .row,
	#cam_buttons .row{
	    display: list-item !important;
	}

	#form .row div.checkbox:nth-child(even){
	    width: auto !important;
	    float: right !important;
	}
}

@media only screen and (max-width: 700px){
	.responsive {
   		padding: 6px;
        width: 49.99999% !important;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        padding: 6px;
        width: 99.99999% !important;
    }
}

@media screen and (max-width: 480px) {
    #nav .item *{
    	font-size: smaller;
    }

    #sensordaten table *{
		font-size: small;
	}
}